<!-- create-thing/template.hbs -->  
<form class="form-horizontal">  
  <div class="form-group">
    <label for="title" class="col-md-2 control-label">Title</label>
    <div class="col-md-5">
      {{input value=model.title name="title" class="form-control"}}
    </div>
  </div>
  <div class="form-group">
      <label for="price" class=" col-md-2 control-label">Price</label>
      <div class="col-md-5">
        {{input value=model.price name="price" class='form-control'}}
      </div>
  </div>
  <div class="form-group">
   <div class="col-sm-offset-2 col-sm-10">
     <button {{action "createBook"}} class="btn btn-sm btn-primary">Save</button>
   </div>
 </div>
</form>  