<div class="jumbo show-listing">
  <h2 class="title">Book : {{model.title}}</h2>
  <div class="right detail-section">
    <div class="detail">
      <ul class="results">
	      <li>price : ${{model.price}}</li>
	      <li>Autor : {{model.author.name}}</li>
	  </ul>
    </div>
  </div>
</div>
